<!DOCTYPE html>  
{% load static %} 
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home| Tech Arya</title>
  <meta content="" name="description">

  <meta content="" name="keywords">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link type ="text/css" href="static/assets/css/style.css" rel="stylesheet">
	<style>
		#loader{
    width:100%;
    height:100vh;
    background:#191f29 url(https://cdn.dribbble.com/users/1106178/screenshots/4175222/orb.gif) cover no-repeat center ;
    position:fixed;
    z-index: 10000;
}
	</style>


</head>


  <body onload="myloading()">
  <div id="loader">
  </div>


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">



      <nav id="navbar" class="navbar">
          <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %} " alt="">
        <span style="font-family: 'Cookie', cursive; font-size:3rem; ">Tech Arya</span>
      </a>
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#features">About</a></li>
          
          <li><a href="#contact">Contact Us</a></li>
          <li><a href="#team">Team</a></li>
          
	  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user"  style="font-size:2rem" aria-hidden="true"></i></a></a>
          <div class="dropdown-menu text-center">
          
              <a class="dropdown-item " href="/contact"><span style="font-family:'Cookie',cursive;font-size:1.8rem">WelCome</span> <span style="width:9rem;color:blue;font-size:2.2rem;font-family:'Lora',cursive"><i style="font-size:1.1rem">{{request.user}}</i></a>
           
          
          </div>
      </li>
          </ul>
          &nbsp;&nbsp;
              <a href="#review"  style=" font-size:0.8rem; background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;">Feedback</a>
        <i class="bi bi-list mobile-nav-toggle nav-brand"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
		<h1 data-aos="fade-up">At <b>Tech Arya</b> we try our best to help you in your quest for technical knowledge.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">You will find all computer related tips and tricks at the single click of a button</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#features" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="https://png.pngtree.com/png_detail/20180930/internet-computer-technology-png-clipart_320594.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Who are We</h2>
          <p>A Fun Way To Learn</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
          <iframe width="490" height="270" src="https://www.youtube.com/embed/L_bb_HfYYWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>C++ Programming tutorials</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Tech News</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Railways Preparation</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Illustraor Tutorials</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Good Quality Content</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Competetive Programming Guide</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

 



      </div>

    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="990" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Students</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-youtube" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="3264" data-purecounter-duration="1" class="purecounter"></span>
                <p>Youtube-Views</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                <p> No Of Employees </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->




        <!-- =======Gallery Section======= -->
    <section id="gallery" class="gallery container-fluid">
      <div class="container">

        <div class="section-title">
          <h2>Photo Gallery | Fb Posts</h2>
          <p class="text-center"><span style="color:blue;font-weight:bold">GEEKS ALERT !</span><br>
Wanna keep yourself updated about what’s happening in the cyber world ?<br>
At ‘Tech Arya’ we try our best to help you in your quest for technical knowledge.</p>
        </div>
      </div>

           <div class="container-fluid">
        <div class="row no-gutters">
        
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item shadow-sm">
              <a href="{% static 'assets/img/gallery/thrusday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/thrusday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" alt="" class="img-fluid">
              </a>
            </div>
          </div>
                    <div class="col-lg-3 col-md-4">
            <div class="gallery-item shadow-sm">
              <a href="{% static 'assets/img/gallery/friday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/friday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" alt="" class="img-fluid">
              </a>
            </div>
          </div>       
           <div class="col-lg-3 col-md-4">
            <div class="gallery-item shadow-sm">
              <a href="{% static 'assets/img/gallery/thrusday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/thrusday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" alt="" class="img-fluid">
              </a>
            </div>
          </div>
                    <div class="col-lg-3 col-md-4">
            <div class="gallery-item shadow-sm">
              <a href="{% static 'assets/img/gallery/tuesday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/tuesday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" alt="" class="img-fluid">
              </a>
            </div>
          </div>
                    <div class="col-lg-3 col-md-4">
            <div class="gallery-item shadow-sm">
              <a href="{% static 'assets/img/gallery/saturday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/saturday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" alt="" class="img-fluid">
              </a>
            </div>
          </div>
                    <div class="col-lg-3 col-md-4">
            <div class="gallery-item shadow-sm">
              <a href="{% static 'assets/img/gallery/wednesday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/wednesday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" alt="" class="img-fluid">
              </a>
            </div>
          </div>
                    <div class="col-lg-3 col-md-4">
            <div class="gallery-item shadow-sm">
              <a href="{% static 'assets/img/gallery/thrusday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/thrusday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" alt="" class="img-fluid">
              </a>
            </div>
          </div>
                    <div class="col-lg-3 col-md-4">
            <div class="gallery-item shadow-sm">
              <a href="{% static 'assets/img/gallery/friday.jpg' %}" style="height:300px;max-height:300px;max-width:430px; width:430px" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/friday.jpg' %}" style="height:300px;max-height:300px;max-width:430pxx; width:430px" alt="" class="img-fluid">
              </a>
            </div>
          </div>
         


        </div>
        <br>
       

      </div>

    </section><!-- End Medicine Section -->

<div id="team" class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4 text-center mx-100">
      <div class="col-lg-12 ml-30% ">
        <h2 class="display-4 font-weight-light ">Our team</h2>
        <p class="font-italic text-muted">We are A team of Enthusiastic people determined to  help you in your quest for technical knowledge </p>
      </div>
    </div>

    <div class="row text-center">
   
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img style="height:230px;max-height:230px;max-width:200px; width:200px" src="{% static 'assets/img/testimonials/aryasah.jpeg' %}"  alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Arya Sah</h5><span class="small text-uppercase text-muted">Director</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    
      <!-- End-->
          <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img style="height:230px;max-height:230px;max-width:200px; width:200px" src="{% static 'assets/img/testimonials/kritika.jpg' %}"  alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Kritika Raj</h5><span class="small text-uppercase text-muted">Chief Executive Officer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

            <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img style="height:230px;max-height:230px;max-width:200px; width:200px" src="{% static 'assets/img/testimonials/dhiraj.jpg' %}"  alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Dhiraj Kumar</h5><span class="small text-uppercase text-muted">Cheif Manager</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

            <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img style="height:230px;max-height:230px;max-width:200px; width:200px" src="{% static 'assets/img/testimonials/aryan.jpg' %}"  alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Aryan Kumar</h5><span class="small text-uppercase text-muted">Financial Advisor</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i style="font-size:1.2rem" class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>





 
 

    </div>
  </div>
</div>






    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Reviews</h2>
          <p>What Our <i class="bi bi-emoji-smile"></i> Customers Saying About Us</p>
        </header>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">
          {% for z in imag %}
   
            <div class="swiper-slide">
            
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                {{z.comment}}
                </p>
                <div class="profile mt-auto">
                  <img src="https://webstockreview.net/images/profile-icon-png.png" class="testimonial-img" alt="">
                  <h3>{{z.username}}</h3>
                  <h4>{{z.profession}}</h4>
                </div>
              </div>
              
            </div><!-- End testimonial item -->
            {% endfor %}
             
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- End Testimonials Section -->

    




    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>

        </header>
              
        {% if messages %}
        <div class="container-fluid">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7367.858046133004!2d88.3334490225358!3d22.5817577970234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027793e322b5b1%3A0x252e90291f4157f5!2sHowrah%20Railway%2C%20Howrah%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1617313637515!5m2!1sen!2sin" width="1070" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
	       <br>
                {% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 {% endfor %}
{% endif %}

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>18/1 Ishwar Dutta Lane<br> Howrah-711102</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 9123067078<br>+91 9123045078</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>techparticl00.com<br>aryasah30@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Active Hours</h3>
                  <p>Monday - Sunday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
           <form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text"  reqiured class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>

        <div class="form-group">
            <label for="email">Email address: <i class="fa fa-envelope" style="font-size:1.2rem; color:blue"></i></label>
            <input type="email"  reqiured class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number: <i class="fa fa-phone" style="font-size:1.2rem; color:blue"></i></label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>      
        
        <div class="form-group">
            <label for="desc">Write Your Message: <i class="fa fa-comments" style="font-size:1.2rem;color:blue"></i></label>
            <textarea class="form-control"  reqiured id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary" type="submit"><b>Send</b>  <i class="fa fa-send" style="font-size:1.2rem;color:white"></i></button>
    </form>
           </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

<footer class="footer-distributed mt-0 mb-0">

			<div class="footer-left">

				<h3>Tech<span>Arya</span></h3>

				<p class="footer-links">
					<a href="/">Home</a>
					·
					<a href="#faq">FAQs</a>
					·
					<a href="#features">About</a>
					·
					<a href="#contact">Contact</a>
				</p>

				<p class="footer-company-name text-muted">Tech Arya &#9734; 2021<br>
					<br>
						     Disclaimer:&#8482;<br>
					Youtube Video <a href="https://www.youtube.com/watch?v=L_bb_HfYYWc"><i style="font-size:1.2rem" class="bi bi-youtube" style="color: #ee6c20;"></i></a> used in this project is of Tech Praticle <br>
					<br> This is a task given by Tech Particle to me <br> I hold no copyright on any content of this.
					<br><i>It is hobby project of me <b>Arya Sah</b></i>
						     
						    </p>
				

			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>18/1 Bon Behari Bose Road</span> Howrah, West Bengal</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 9123045279</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a style="color:white;font-weight:bold;font-size: 1.5rem;" href="https://mail.google.com/mail/?view=cm&fs=1&to=aryasah30@gmail.com"><span>Aryasah30@gmail.com</span></a></p>
				</div>
                      <br>
        

				


			</div>

			<div class="footer-right">

				<p id="register" class="footer-company-about">
					<b>About Us:</b><br>
					At <b>‘Tech Arya’</b> we try our best to help you in your quest for technical knowledge. 
					<br>With Users Count :
			       <span data-purecounter-start="0" data-purecounter-end="990" data-purecounter-duration="1" class="purecounter"></span>
					<br>
				      <b>Follow Us:</b>
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/arya.sah.98892"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/in/arya-sah-5100121b3/"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/Aryasah"><i class="fa fa-github"></i></a>

				</div>

			</div>
	<div class="container-fluid " id="review">
		        <h4 class="text-center" style="color:white;">Your <i style="color=red;font-size=1.1rem" class="bi bi-heart-fill"></i> Feedback Matters</h4>
        <form style="color:white;display:block;" class="text-center" action="/comments" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{forms}}
      <br>
      <input type="submit" class="btn btn-danger" value="Upload">
     </form>
	</div>

		</footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js'  %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'  %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'  %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
	  <script>
var preload = document.getElementById('loader');
function myloading(){
  preload.style.display='none';
};
		  </script>


      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
